a {
  text-decoration: none;

  & > .primary_button {
    display: flex;
    width: auto;
    height: 50px;
    gap: 10px;
    cursor: pointer;
    color: var(--tertiary-color);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: var(--border-radius-default);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--primary-color);
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: #0511f2;
    }
  }
}
