.section_container {
  display: flex;
  width: 100%;
  min-height: 800px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/home-banner.webp");

  & > div {
    position: relative;
    display: flex;
    max-width: 774px;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > h1 {
      color: #ffffff;
      font-size: clamp(30px, 3.5vw, 40px);
      text-align: center;
      text-transform: uppercase;

      & > span {
        color: #1b21a6;
      }
    }

    & > svg {
      position: absolute;
      right: 120px;
      bottom: 20px;

      @media (max-width: 992px) {
        display: none;
      }
    }

    & > a > button {
      width: 250px;
    }

    @media (max-width: 992px) {
      max-width: 90vw;
    }
  }

  @media (max-width: 992px) {
    background-attachment: scroll;
  }
}
