.header {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-color);

  & > .navbar {
    display: flex;
    max-width: 1147.19px;
    min-width: 1147.19px;
    width: 60vw;
    align-items: center;
    justify-content: space-between;

    & > a > img {
      width: 80px;
      height: 80px;
      background-size: cover;
    }

    & > ul {
      display: flex;
      list-style: none;

      & > li {
        &:not(:last-of-type) {
          margin-right: 30px;
        }

        & > a {
          color: var(--secondary-color);
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--primary-color);
          }
        }
      }

      & > a > button {
        display: none;

        @media (max-width: 768px) {
          display: flex;
          width: 100%;
        }
      }

      @media (max-width: 768px) {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        right: -200%;
        gap: 20px;
        top: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;
        padding: 150px 20px;
        flex-direction: column;
        transition: all 0.3s ease;
        background-color: var(--tertiary-color);

        li {
          &:not(:last-of-type) {
            margin-right: 0;
          }
        }

        &.active {
          opacity: 1;
          right: 0;
        }
      }
    }

    & > a > button {
      width: 160px;
      font-size: 14px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    & > button {
      display: none;
      width: 50px;
      height: 50px;
      z-index: 3;
      color: var(--tertiary-color);
      cursor: pointer;
      border-radius: var(--border-radius-button);
      background-color: var(--primary-color);
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        display: flex;
      }
    }

    @media (max-width: 1280px) {
      min-width: 0;
      width: 90vw;
    }
  }
}
