.header {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  & > .navbar {
    display: flex;
    max-width: 1147.19px;
    min-width: 1147.19px;
    width: 60vw;
    align-items: center;
    justify-content: space-between;

    & > a > img {
      width: 80px;
      height: 80px;
      background-size: cover;
    }

    & > ul {
      display: flex;
      gap: 30px;
      list-style: none;

      & > li > a {
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #1b21a6;
        }
      }

      & > a > button {
        display: none;

        @media (max-width: 768px) {
          display: flex;
          width: 100%;
        }
      }

      @media (max-width: 768px) {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        right: -200%;
        gap: 20px;
        top: 0;
        bottom: 0;
        z-index: 2;
        padding: 150px 20px 0 20px;
        flex-direction: column;
        transition: all 0.3s ease;
        background-color: #ffffff;
      }

      @media (max-width: 768px) {
        &.active {
          opacity: 1;
          right: 0;
        }
      }
    }

    & > a > button {
      width: 150px;
      font-size: 14px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    & > button {
      display: none;
      width: 50px;
      height: 50px;
      z-index: 3;
      color: #ffffff;
      cursor: pointer;
      border-radius: 15px;
      background-color: #1b21a6;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        display: flex;
      }
    }

    @media (max-width: 1280px) {
      min-width: 0;
      width: 90vw;
    }
  }
}
